<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taverne Médiévale</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <audio autoplay loop>
        <source src="{{ url_for('static', filename='music/Irish_tavern.mp3') }}" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
